* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    padding: 2rem 1rem;
}


#main {
    position: relative;
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: .5rem;
}


h1 {
    text-align: center;
}

fieldset {
    border: 1px solid lightgray;
    border-radius: .5rem;
    margin-bottom: 1.25rem;
}


legend {
    color: darkgreen;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 .5rem;
}


label {
    display: block;
    margin-top: 1rem;
    margin-bottom: .25rem;
}

label.option {
    display: inline;
    margin: 0 .25rem 0 0;
}

label input[type = "radio"], label input[type = "checkbox"] {
    display: inline;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: .25rem;
    padding: .5rem;
}

textarea {
    resize: none;
}


button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: .25rem;
    padding: .75rem;
    font-size: 1rem;
}

.section-labels {
    color: darkgreen;
}


#cone {
    position: absolute;
    right: -30rem;
    top: 30px;
    width: 400px;
}
